.abilities {
   width: 100%;
   padding: 80px 160px;
   padding-top: 120px;

   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 120px;
   
   @include md {
      padding: 80px 40px;
      gap: 80px;

      h1{
         font-size: 36px;
      }
   }

   &__description {
      width: 100%;
      display: flex;
      justify-content: space-around;

      @include md{
         flex-direction: column;
         gap: 80px;
      }

      &__ico {
         width: 80px;
         position: absolute;
         top: -50%;
         left: -100px;
         opacity: 30%;

         &--small {
            width: 65px;
         }

         @include md{
            position: relative;

            width: 60px;
            top: 0%;
            left: 0px;

            &--small {
               width: 50px;
            }
         }
      }

      &__chunk {
         max-width: 40%;

         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 16px;

         text-align: center;

         h1 {
            position: relative;

            @include md{
               display:  flex;
               flex-direction: row-reverse;
               align-items: center;
               justify-content: center;
               gap: 20px;
            }
         }

         @include md{
            width: 100%;
            max-width: none;
            gap: 20px;
         }
      }
   }

   &__softSkills {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 40px;

      p {
         font-size: 20px;
         line-height: 24px;

         &:hover {
            font-variation-settings: $bold;
            font-size: 24px;
         }
      }

      div {
         display: flex;
         width: 100%;
         flex-wrap: wrap;
         justify-content: space-evenly;
         gap: 40px 40px;

         p{
            text-align: center;
            flex-basis: 20%;   
         }
      }
   }

   &__apps {
      width: fit-content;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;

      h2 {
         font-size: 20px;
      }

      &__container {
         display: flex;
         align-items: center;
         justify-content: center;
         flex-wrap: wrap;
         gap: 40px 120px;

         margin-bottom: 40px;

         img {
            width: 100px;
            max-height: 100px;

            @include md{
               width: 80px;
               max-height: 80px;
            }
         }


      }
   }
}
