.abilities {
   width: 100%;
   padding: 40px 160px;

   display: flex;
   flex-direction: column;
   align-items: center;

   &__apps {
      width: fit-content;

      display: flex;
      flex-direction: column;
      gap: 16px;

      h1 {
         margin-bottom: 16px;
      }

      &__container {
         width: fit-content;
         display: flex;
         align-items: center;
         gap: 120px;

         img {
            width: 100px;
            max-height: 100px;
         }
      }
   }
}
