.abilities {
   width: 100%;
   padding: 80px 160px;

   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 80px;

   &__description {
      width: 100%;
      display: flex;
      justify-content: space-around;
   }

   &__apps {
      width: fit-content;

      display: flex;
      flex-direction: column;
      gap: 16px;

      h1 {
         margin-bottom: 16px;
      }

      &__container {
         display: flex;
         align-items: center;
         justify-content: center;
         flex-wrap: wrap;
         gap: 40px 120px;

         margin-bottom: 40px;

         img {
            width: 100px;
            max-height: 100px;
         }
      }
   }
}
