.infoCard {
   width: 100%;
   padding: 40px 160px;
   background-color: $black;

   display: flex;
   justify-content: space-between;

   &__text {
      max-width: 550px;

      h1 {
         margin-bottom: 20px;
      }
   }

   &__element {
      min-width: 140px;
      mix-blend-mode: overlay;
   }
}
