.header {
   width: 100%;
   padding: 40px 100px;

   display: flex;
   justify-content: space-between;
   align-items: center;

   position: absolute;
   z-index: 2;

   &--v2 {
      padding: 0px;
      padding-right: 100px;
      position: relative;

      .header {
         &__logo {
            &__container {
               padding: 40px 100px;
               padding-right: 160px;

               clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
            }
         }
      }
   }

   &__logo {
      width: 240px;

      &__container {
        // background: $gradient;
      }
   }

   &__nav {
      display: flex;
      gap: 40px;
   }

   &__burgerMenu{
      display: none;
      width: 32px;
   }

   @include md{
      padding: 40px;
      background: $gradient;
      clip-path: polygon(0 0, 100% 0%, 100% 82%, 0 100%);

      &__logo {
         content:url("../images/LogoSmall.svg");
         width: 80px;
      }

      &__nav {
         display: none;
      }

      &__burgerMenu{
         display: flex;
      }

      &--v2{
         padding: 40px;

         clip-path: none;

         .header {
            &__logo {
               &__container {
                  padding: 0px;
                  clip-path: none;
               }
            }
         }
      }
   }
}
