.header {
   width: 100%;
   padding: 40px 80px;

   display: flex;
   justify-content: space-between;
   align-items: center;

   position: absolute;
   z-index: 2;

   &__logo {
      width: 240px;
   }

   &__nav {
      display: flex;
      gap: 40px;
   }
}
