@keyframes nameAnimation {
   0% {
      color: $blue;
   }
   25% {
      color: $pink;
   }
   50% {
      color: $red;
   }
   75% {
      color: $green;
   }
   100% {
      color: $blue;
   }
}

@keyframes topAnimation {
   0% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(-10px);
   }
   100% {
      transform: translateY(0);
   }
}

@keyframes spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

.nameAnimation {
   animation-name: nameAnimation;
   animation-duration: 5s;
   animation-timing-function: ease-out;
   animation-iteration-count: infinite;
}

.emailAnimation:hover {
   font-size: 20px;
   color: darken($color: $pink, $amount: 15);
}

.btnTopAnimation:hover {
   img {
      animation-name: topAnimation;
      animation-timing-function: linear;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      transform-origin: bottom;
   }
}

.project__preview:hover {
   img {
      box-shadow: 0px 0px 15px rgba(40, 44, 52, 0.5);
   }
   animation-name: topAnimation;
   animation-timing-function: linear;
   animation-duration: 0.5s;
   transform-origin: bottom;
}

.footer__networks {
   img:hover {
      animation-name: spin;
      animation-duration: 0.5s;
      animation-timing-function: linear;
   }
}
